:root {
    /* edit colors here */
    --font-color: #515151;
    --subtitle-color: #c0c0c0;
    --link-color: #268bd2;
    --current-page-color: #bb5e32;

    /* set font */
    font-family: Arial, Helvetica, sans-serif;
}
body {
    color: var(--font-color);
    width: 100%;
    padding: min(1.5rem, 5vw);
    padding-bottom: 5rem;
}
main {
    margin-top: 4rem;

}
.center-container {
    max-width: 40rem;
    margin: 0 auto;
}

    /* ----- GLOBAL TEXT ----- */

h3 {
    margin-top: 1rem;
}
figcaption a {
    color: inherit;
}
a {
    color: var(--link-color);
    text-decoration: none;
}
p {
    margin-bottom: 1rem;
}

    /* ----- TITLE ----- */

.title-container {
    display: flex;
    justify-content: start;
    align-items: baseline;
    column-gap: 1rem;
    flex-wrap: wrap;
}
.title-container a {
    text-decoration: none;
    color: inherit;
}
.title-container a:hover {
    text-decoration: none;
}
.subtitle {
    font-size: 18px;
    font-weight: 700;
    color: var(--subtitle-color);
}
@media (max-width: 500px) {
    .title-container .subtitle {
        display: none;
    }
}

    /* ----- NAVIGATION ----- */

nav {
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
    flex-wrap: wrap;
}

/* This controls when the menu switches to mobile view */
/* If you add a new page and the link list gets longer and you want to prevent the text from wrapping on smaller screens, you can change the "max-width: 400px" to something higher  */
@media (max-width: 400px) {
    .title-container {
        justify-content: center;
    }
    nav {
        flex-direction: column;
        align-items: center;
        border-bottom: 1px black solid;
        border-top: 1px black solid;
    }
}

/* Styles the nav menu item to indicate it is the current page */
[aria-current="page"] {
    color: var(--current-page-color);
    /* text-decoration: underline; */
    /* text-decoration: overline; */
    /* background-color: lightgray; */
    /* font-weight: bold; */
    /* box-shadow: 3px 3px 5px #bb5e32; */
}
nav a {
    color: inherit;
}

    /* ----- HOME PAGE ----- */

.pub-thumbs a {
    color: inherit;
}
.pub-thumbs {
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    align-items: center;
    width: 100%;
    row-gap: 1rem;
}
.pub-thumbs a {
    text-decoration: none;
}
.pub-thumbs figcaption{
    text-align: center;
    font-size: small;
    opacity: 0;
    transition: opacity 250ms;
    text-decoration: none;
}
.thumb:hover figcaption {
    opacity: 1;
    text-decoration: none;
}

    /* ----- CONTACT PAGE ----- */

.contact-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    gap: 2rem;
    justify-content: center;
}
.icon-container {
    display: flex;
    gap: 10px;
}
.icon {
    max-height: 40px;
    max-width: 40px;
}