---
layout: base
tags: page
title: Home
order: 1
---

<div class="pub-thumbs">
    <div class="thumb">
        <a href="assets/pubs/Lundgren_et_al_2024a.pdf">
            <img src="assets/images/meta_fig_1.png" alt="Functional traits—not nativeness—shape the effects of large mammalian herbivores" eleventy:widths="300, 600" sizes="(min-width: 700px) 50vw, 100vw">
            <figcaption>Lundgren et al. 2024
                <em>Science</em>
            </figcaption>
        </a>
    </div>
    <div class="thumb">
        <a href="http://doi.org/10.1111/1365-2656.13766">
            <img src="assets/images/fig_2.png" alt="A novel trophic cascade between cougars and feral donkeys shapes desert wetlands" eleventy:widths="300, 600" sizes="(min-width: 700px) 50vw, 100vw">
            <figcaption>Lundgren et al. 2022
                <em>J. Anim. Ecol.</em>
            </figcaption>
        </a>
    </div>
    <div class="thumb">
        <a href="/assets/pubs/Lundgren_et_al_2021a.pdf">
            <img src="assets/images/fig_3.png" alt="Equids engineer desert water availability" eleventy:widths="300, 600" sizes="(min-width: 700px) 50vw, 100vw">
            <figcaption>Lundgren et al. 2021
                <em>Science</em>
            </figcaption>
        </a>
    </div>
    <div class="thumb">
        <a href="/assets/pubs/Lundgren_et_al_2020.pdf">
            <img src="assets/images/fig_4.png" alt="Introduced herbivores restore Late Pleistocene ecological functions" eleventy:widths="300, 600" sizes="(min-width: 700px) 50vw, 100vw">
            <figcaption>Lundgren et al. 2020
                <em>PNAS</em>
            </figcaption>
        </a>
    </div>
</div>