---
layout: base
tags: page
title: Home
order: 1
---

<div class="pub-thumbs">
    <div class="thumb">
        <a href="assets/pubs/Lundgren_et_al_2024.pdf">
            {% image "assets/images/meta_fig_1.png", "Functional traits—not nativeness—shape the effects of large mammalian herbivores" %}
            <figcaption>Lundgren et al. 2024
                <em>Science</em>
            </figcaption>
        </a>
    </div>
    <div class="thumb">
        <a href="http://doi.org/10.1111/1365-2656.13766">
            {% image "assets/images/fig_2.png", "A novel trophic cascade between cougars and feral donkeys shapes desert wetlands" %}
            <figcaption>Lundgren et al. 2022
                <em>J. Anim. Ecol.</em>
            </figcaption>
        </a>
    </div>
    <div class="thumb">
        <a href="/assets/pubs/Lundgren_et_al_2021a.pdf">
            {% image "assets/images/fig_3.png", "Equids engineer desert water availability"%}
            <figcaption>Lundgren et al. 2021
                <em>Science</em>
            </figcaption>
        </a>
    </div>
    <div class="thumb">
        <a href="/assets/pubs/Lundgren_et_al_2020a.pdf">
            {% image "assets/images/fig_4.png", "Introduced herbivores restore Late Pleistocene ecological functions" %}
            <figcaption>Lundgren et al. 2020
                <em>PNAS</em>
            </figcaption>
        </a>
    </div>
</div>