---
layout: base
tags: page
title: Home
---
    <div class="pub-thumbs">
        <div class="thumb">
            {# <a href="#"> #}
                <img src="images/fig_1.png" alt="fig1">
                <figcaption>Coming Soon</figcaption>
            {# </a> #}
        </div>
        <div class="thumb">
            <a href="#">
                <img src="images/fig_2.png" alt="fig2">
                <figcaption>Lundgren et al. 2022 <em>JAE</em></figcaption>
            </a>
        </div>
        <div class="thumb">
            <a href="#">
                <img src="images/fig_3.png" alt="fig3">
                <figcaption>Lundgren et al. 2021 <em>Science</em></figcaption>
            </a>
        </div>
        <div class="thumb">
            <a href="#">
                <img src="images/fig_4.png" alt="fig4">
                <figcaption>Lundgren et al. 2020 <em>PNAS</em></figcaption>
            </a>
        </div>
    </div>
