---
tags: page
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title !== "Home" %}
        <title>{{title}} &middot; Erick Lundgren</title>
    {% else %}
        <title>Erick Lundgren &middot; Feral Earth Researcher</title>
    {% endif %}
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/favicon.ico">
    <link rel="shortcut icon" href="/images/favicon.ico">
</head>
<body>
    <div class="center-container">
        <div class="title-container">
            <a href="/"><h1>Erick Lundgren</h1></a>
            {% if title === "Home" %}
            <span class="subtitle">Feral Earth Researcher</span>
            {% endif %}
        </div>
        <nav>
            {% for page in collections.page %}
                <div><a href="{{page.url}}">{{page.data.title}}</a></div>
            {% endfor %}
        </nav>
        <main>
            {{ content | safe }}
        </main>
        </div>
    </div>
    

</body>
</html>