---
layout: base.njk
title: Contact
date: 2022-01-05
permalink: "/contact/"
---

<div class="contact-container">

    <div class="photo">
        <img src="/images/headshot.jpg" alt="Erick Lundgren">
        <figcaption><a href="http://michaeldlundgren.com/">©Michael Lundgren</a></figcaption>
    </div>

    <div class="text">
        {{ content | safe }}
    </div>
    
</div>
