---
layout: base.njk
---

<div class="contact-container">

    <div class="photo">
        <a href="/assets/images/headshot.jpg">
            <img src="/assets/images/headshot.jpg" alt="Headshot of Erick Lundgren" eleventy:widths="300, 600" sizes="(min-width: 700px) 50vw, 100vw">
        </a>
        <figcaption>
            <a href="http://michaeldlundgren.com/">©Michael Lundgren</a>
        </figcaption>
    </div>

    <div class="text">
        {{ content | safe }}
    </div>
    
</div>
